/* GameClient/Assets/UI/DeathMenu.uss */

.death-menu-container {
    flex-grow: 1;
    align-items: center;
    justify-content: center;
    background-color: var(--color-background-overlay);
}

.menu-panel {
    width: 400px;
    padding: 20px;
    background-color: var(--color-background-panel);
    border-color: var(--color-border-primary);
    border-width: 2px;
    border-radius: 15px;
    align-items: center;
}

.title-label {
    font-size: var(--font-size-title);
    -unity-font-style: bold;
    color: var(--color-text-off-white);
    margin-bottom: 20px;
}

.button-container {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
}

.menu-button {
    width: 150px;
    height: 40px;
    font-size: var(--font-size-normal);
    color: var(--color-text-primary);
    background-color: var(--color-button-background);
    border-color: var(--color-border-secondary);
    border-width: 1px;
    border-radius: 8px;
    transition-property: background-color, border-color, translate;
    transition-duration: 0.15s;
    transition-timing-function: ease-in-out;
}

.menu-button:hover {
    background-color: var(--color-button-background-hover);
    border-color: var(--color-text-primary);
    translate: 0 -2px;
}

.menu-button:active {
    background-color: var(--color-button-background-active);
    translate: 0 0;
}
