/* GameClient/Assets/UI/SeerUI.uss */
.seer-root {
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    /* Consistent overlay color */
    background-color: var(--color-background-overlay);
}

.seer-panel {
    /* Increased width to allow for more text */
    width: 80%;
    max-width: 950px;
    padding: 10px 15px;
    background-color: var(--color-dialogue-background);
    border-color: var(--color-dialogue-border);
    border-width: 2px;
    border-radius: 10px;
}

#SeerDialogueLabel {
    font-size: var(--font-size-normal);
    color: var(--color-text-primary);
    white-space: normal;
    -unity-text-align: upper-left;
}

#bargain-choices-container {
    flex-direction: column;
    align-items: stretch;
}

.bargain-button {
    color: var(--color-text-primary);
    background-color: var(--color-dialogue-choice-background);
    border-color: var(--color-dialogue-choice-border);
    /* Font size reduced for a more compact layout */
    font-size: var(--font-size-normal);
    border-width: 2px;
    border-radius: 8px;
    padding: 12px;
    margin: 5px 0;
    white-space: normal;
    transition-duration: 0.1s;
}

.bargain-button:hover {
    background-color: var(--color-dialogue-choice-hover);
    border-color: var(--color-text-primary);
}